<div class="col-sm12 ">
    <div class="card mt-4">
        <div class="card-body row ">
          <div class="col-sm-4">
              <img class="card-img-top" src = "{{ imageSource }}" alt="Card image cap">
          </div>
          <div class="col-sm-8">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">Say hello to the future.</p>
              <a href="" class="btn btn-primary">Add to Cart</a>
          </div>
          
        </div>
      </div>
</div>