<div class="row">
  <div class="col-sm-8 mainContent">
    <div class="col-sm-12 row">
      <div class="col-sm-7">
        <app-avatar-section></app-avatar-section>
      </div>
      <div class="col-sm-5">
        <app-points-section></app-points-section>
      </div>
    </div>
    <div class="col-sm-12 buyReview">
      <div class="col-sm-12 buySecion">
        <app-buy-section></app-buy-section>
      </div>
      <div class="col-sm-12 reviewSecion">
        <app-rate-section></app-rate-section>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <app-community-section></app-community-section>
    </div>
</div>

