<div class="col-sm-12 row">
  <div class="col-sm-4">
    <div class=" itemContainer">
      <div class="buy item buyItem ml-4 mr-4 ">
        <div class="centered">
          <div>
            <span class="lead ">BUY</span>
          </div>

          <div>
            <span>
              <strong>50+</strong>
            </span>
          </div>
        </div>

      </div>
      <div class="sell item  sellItem ml-4 mr-4 ">
        <div class="centered">
          <div>
            <span class="lead">Sell</span>
          </div>

          <div>
            <span>
              <strong>40+</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="review item  reviewItem ml-4 mr-4 ">
        <div class="centered">
          <div>
            <span class="lead">Review </span>
          </div>
          <div>
            <span>
              <strong>45+</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 row">
    <div class="rating"><h4>Rating</h4></div>
    <div class="col-sm-12">
      <span>
        <i class="fa fa-star-half" aria-hidden="true"></i><strong>  10,000 </strong></span>
    </div>
    <div class="col-sm-12">
      <span>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i><strong>  100,000 </strong></span>
    </div>
    <div class="col-sm-12">
      <span>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i><strong> 1,000,000</strong> </span>
    </div>
  </div>
</div>