.avatarContainer{
  margin: 0 auto;
}
.avatar{
  text-align: center;
  margin: auto;
}
.avatarImage{
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
.avatarImageSelected{
  height: 120px;
  width: 120px;
  margin: 0 auto;
}
.avatarImageNotSelected{
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
.image{
  cursor: pointer;
  height: inherit;
  width: inherit;
  overflow: hidden;
  border-radius:15%;
}
.avatarDesc{
  margin: 10px 0px auto auto; 
}
.avatarPercent{
  margin: 0px auto;
}
